
// === FONTS ===
$primary-font-1: 'Open Sans', sans-serif;
$primary-font-2: 'Lora', serif;
$text-center: center;
$text-left: left;
$text-right: right;
$text-xs: 10px;
$text-s: 12px;
$text-m: 14px;
$text-lg: 18px;
$text-xl: 20px;


// === SIZES ===
