// === THEMES ===
// === Allowed values: Default, Brown, Red
$theme: default;

// === COLORS ===
$primary-color-1: #16193b;
$primary-color-2: #35468c;
$primary-color-3: #38ff14;
$primary-color-4: #7fb1f0;
$primary-color-5: #add5f7;
$primary-color-6: #8cff8c;
$primary-color-7: #ffffff;
$primary-color-8: #7ed5a7;
$primary-color-9: #92c2ea;

// === Brown theme ===
@if $theme == brown {
  $primary-color-1: #474455;
  $primary-color-2: #33313d;
  $primary-color-3: #f6f73f;
  $primary-color-4: #979797;
  $primary-color-5: #979797;
  $primary-color-6: #fcfca8;
  $primary-color-7: #ffffff;
  $primary-color-8: #33313d;
  $primary-color-9: #f6f73f;
}

// === Red ===
@else if $theme == red {
  $primary-color-1: #540032;
  $primary-color-2: #820333;
  $primary-color-3: #f0433a;
  $primary-color-4: #fee7ea;
  $primary-color-5: #fee7ea;
  $primary-color-6: #c9283e;
  $primary-color-7: #ffffff;
  $primary-color-8: #f0433a;
  $primary-color-9: #f6f73f;
}


// === FONTS ===
$primary-font-1: 'Open Sans', sans-serif;
$primary-font-2: 'Lora', serif;
$text-center: center;
$text-left: left;
$text-right: right;
$text-xs: 10px;
$text-s: 12px;
$text-m: 14px;
$text-lg: 18px;
$text-xl: 20px;


// === SIZES ===
