// === COLORS ===
$primary-color-1: #16193b;
$primary-color-2: #35468c;
$primary-color-3: #38ff14;
$primary-color-4: #7fb1f0;
$primary-color-5: #add5f7;
$primary-color-6: #8cff8c;
$primary-color-7: #ffffff;

// === FONTS ===
$primary-font-1: 'Open Sans', sans-serif;
$primary-font-2: 'Lora', serif;
$text-center: center;
$text-left: left;
$text-right: right;
$text-xs: 10px;
$text-s: 12px;
$text-m: 14px;
$text-lg: 18px;
$text-xl: 20px;


// === SIZES ===
