$primary-color-1: #540032;
$primary-color-2: #820333;
$primary-color-3: #f0433a;
$primary-color-4: #fee7ea;
$primary-color-5: #fee7ea;
$primary-color-6: #c9283e;
$primary-color-7: #ffffff;
$primary-color-8: #f0433a;
$primary-color-9: #f6f73f;

.theme-red {
	@import "theme.scss"
}
