$primary-color-1: #474455;
$primary-color-2: #33313d;
$primary-color-3: #f6f73f;
$primary-color-4: #fff;
$primary-color-5: #fff;
$primary-color-6: #fcfca8;
$primary-color-7: #ffffff;
$primary-color-8: #33313d;
$primary-color-9: #f6f73f;

.theme-brown {
	@import "theme.scss"
}
